@import url('https://fonts.googleapis.com/css2?family=Domine&family=Pacifico&display=swap');

body{
  
  font-family: 'Domine';
  background-color: rgb(233, 222, 205);
}

h1{
  text-align: center;
  background-color: rgb(180, 180, 149);
  width: 500px;
  height: 50px;
  color: beige;
  padding: 10px;
  margin-top: 0px;

}

h2{
  color: rgb(49, 49, 32);
}

header{
  
  color: beige;
  background-color: rgb(180, 180, 149);
  text-align: center;
}


div{
  margin: 10px;
  margin-left: 30px;
  text-align: center;
  color: whitesmoke;
  background-color: rgb(180, 180, 149);
  padding: 1px;
  border-radius: 10px;
  width: 200px;
  border-color: rgb(197, 197, 151);
  border: 100px;

}

section{
  text-align: center;
  border-radius: 10px red;
  
}

a:hover {
  color: rgb(132, 170, 141);
  text-decoration: underline;
}

ul{
  color: rgb(49, 49, 32);
}

