body{
  background-color: rgb(233, 222, 205);
}

h1{
  background-color: rgb(180, 180, 149);
  width: 500px;
  height: 50px;
  color: beige;

}

header{
  color: rgb(233, 222, 205);
  background-color: rgb(180, 180, 149);
  text-align: center;
}