<!DOCTYPE html>

<html>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="index.css">
<title>Cook Book</title>

<head>
  <title>All the recipes</title>
</head>

<body>
  <h1>Recipes</h1>
  <section>
    <h2><a href="breakfast.food.html">Breakfast</a></h2>
    <p>
      breakfast is the most important part of the day. It fuals you for the next few hours and helps you get threw the
      morning befor lunch.
    </p>

    <h3><a href="Lunch.food.html">Lunch</a></h3>
    <p>
      Lunch helps you finish your day. It gets you done with the few hours you have left for the day.
    </p>

    <h4><a href="dinner.html">Dinner</a></h4>
    <p>
      Finaly Dinner, the best part of the day. You got threw a long hard or easy day and ow you can cook your self up
      some
      easy or a littel hhard dinner but it will still be delicious.
    </p>
  </section>

  <a href="index.html">Home page</a>
  <footer>copywrite 2023:Analuisa</footer>
</body>

</html>